node_modules
node_modules
.venv
synth_backend/settings/
/synth_backend/__pycache__/
synth_backend/config/config.toml
/home/twanpluy/modular_synth/synth_backend/synth_backend/config/config.toml
synth_backend/synth_backend/config/config.toml
synth_vue/src/assets/logo.png
synth_vue/public/favicon.ico
synth_backend/apps/no file
